
body {
	padding-top: 40px;
}
.sunny {
	font-family: 'Waiting for the Sunrise',cursive;
	font-size: 22px;
	line-height: 30px;
	color: #555;
	margin-left: 35px;
}
.main {
	background-image: url(../img/guy.jpeg);
	background-position: -460px 0;
	background-repeat: no-repeat;

	border: solid 2px #CCC;
	border-top: none;
	border-bottom: none;
	box-shadow: 0 10px 20px #AAA;
}

.sketch {
	margin-top: 35px;
	margin-bottom: 35px;
	list-style: none;
}
.sketch li {
	margin: 25px 0;
}
.subtitle {
	margin-right: 8px;
	margin-top: 11px;
}
.nestedleft {
	padding-top: 20px;
	padding-bottom: 25px;
	border-left: 10px solid #EDEDED;
	background: url(../img/lines.png);
}

.nested {
	padding: 10px;
}

.blur {
	background: rgba(255, 255, 255, 0.9);
	border-top: solid 5px #AAA;
	padding-bottom: 15px;
}

.footer {
	border-top: solid 10px black;
	-moz-box-shadow: -5px -5px 10px #aaa;
	-webkit-box-shadow: -5px -5px 10px #AAA;
	box-shadow: -5px -5px 10px #AAA;
	background-color: #222;
	background-image: url(../img/footer-bg.png);
	color: #777;
	margin-top: 5px;
}
.footer, .footer-push {
	min-height: 150px;
}
